/* Inside dark.css */

/* Change the background of the modal */
body[data-theme="dark"] .modal-content {
    background-color: #2c2c2c;
    color: white;  /* making text white */
}

body[data-theme="dark"] .modal-header, body[data-theme="dark"] .modal-footer {
    border-color: #404040; /* slightly lighter gray for borders */
}

/* Update the input fields */
body[data-theme="dark"] .modal-body .form-control {
    background-color: #404040;
    color: white;
    border-color: #555;
}

body[data-theme="dark"] .modal-body .form-control:focus {
    border-color: #777;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

/* Update labels */
body[data-theme="dark"] .modal-body label {
    color: white;
}

body[data-theme="dark"] .btn {
    background-color: #555; /* Change to your preferred button color */
    color: white; /* Text color for the button */
}

/* Dark theme styles for login and signup containers */
body[data-theme="dark"] .login-signup-container, body[data-theme="dark"] .form-container {
    background-color: #333;  /* Dark background for dark theme */
    color: #ffffff;          /* White text for dark theme */
}
